@import "./base.css";

:root,
body,
#app,
.screen {
  width: 100%;
  height: 100%;
}

.screen {
  display: flex;
  flex-direction: column;
  overflow-x: hidden;
}

.river {
  background-color: #5252c6;

  min-height: 14rem;

  display: flex;
  flex-direction: row;
  align-items: center;
}

.land {
  background-color: #796147c4;
  height: 100%;
}

.leaf[data-index="0"] {
  --index: 0;
}

.leaf[data-index="1"] {
  --index: 1;
}

.leaf[data-index="2"] {
  --index: 2;
}

.leaf[data-index="3"] {
  --index: 3;
}

.leaf[data-index="4"] {
  --index: 4;
}

.leaf {
  --offscreen-left: -50%;
  background-image: url("./leaf.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;

  animation: leaf-float linear forwards;

  left: var(--offscreen-left);

  width: 15rem;
  height: 10rem;
  padding: 1rem;

  display: flex;
  justify-content: center;
  align-items: center;

  position: absolute;
}

.leaf {
  animation-duration: 25s;
  --offscreen-left: -65%;
}

@media (min-width: 500px) {
  .leaf {
    animation-duration: 30s;
    --offscreen-left: -50%;
  }
}

@media (min-width: 1000px) {
  .leaf {
    animation-duration: 45s;
    --offscreen-left: -30%;
  }
}

.leaf > p {
  word-wrap: break-word;
  color: white;
  text-align: center;
  width: 15rem;
}

@keyframes leaf-float {
  0% {
    left: var(--offscreen-left);
  }

  99% {
    left: 140%;
  }

  100% {
    left: 140%;
    display: none;
  }
}

.thought-input {
  position: absolute;
  left: 50%;
  bottom: 1em;
  transform: translateX(-50%);

  padding: 1em 3em;

  border: none;

  border-radius: 15px;
  box-shadow: 0 0 15px 4px rgba(0, 0, 0, 0.06);
  background-color: rgba(255, 255, 255, 0.6);
}

.sound-icon {
  position: absolute;
  width: 3em;
  top: 1em;
  left: 1em;
  border: none;
  background: none;
}

.attributions {
  position: absolute;
  bottom: 0%;
  left: 50%;
  transform: translateX(-50%);
}

.attributions * {
  text-align: center;
}

.attributions > * {
  padding: 0.25rem 0;
}

.attributions a {
  text-decoration: none;
  outline: none;
}

.gh-attribution:visited {
  color: initial;
}
